@import "tailwindcss";
@plugin "daisyui" {
  themes: pastel --default;
}

@theme {
  --breakpoint-3xl: 120rem;
  --color-ivory: #fffff0;
  --color-pearl: #fcfcf7;
  --color-batik: #fdf5ea;
  --color-batik-light: #fefbf2;
  --color-offwhite: #faf9f6;
  --color-eggwhite: #fdfdfd;
  --color-batik-black: #100d07;
  --color-batik-gray: #fffff0;
  --color-batik-border: #e0c3a3;
  --color-batik-border-light: #f6cfa8;
  --color-batik-border-hover: #d1b08e;
  --color-batik-white: #fffdfc;
  --color-batik-text: #bd834a;
}

/* This sets a different background and item background in light mode on ios */
.ios body {
  --ion-background-color: #f2f2f6;
}

/* This sets a different background and item background in light mode on md */
.md body {
  --ion-background-color: #f9f9f9;
}

.ios body.dark {
  --ion-background-color: #000000;
}

.md body.dark {
  --ion-background-color: #121212;
}

/* Onboarding Carousel Styles */
.onboarding-slider {
  margin-bottom: 30px;
}

.onboarding-slider .slick-dots {
  bottom: -10px;
}

.onboarding-slider .slick-dots li button:before {
  font-size: 10px;
  color: #c8c8c8;
  opacity: 0.5;
}

.onboarding-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #d1b08e;
}

.onboarding-slider div {
  outline: none;
}

.onboarding-slider img {
  transition: transform 0.3s ease-in-out;
}

.onboarding-slider .slick-current img {
  transform: scale(1.05);
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@media (hover: none) {
  .button:hover {
    /* Reset the hover styles */
    background-color: initial;
    color: initial;
    /* Add any other style resets needed */
  }
}
