@import "tailwindcss";
@plugin "daisyui" {
  themes: pastel --default;
}

@theme {
  --breakpoint-3xl: 120rem;
  --color-ivory: #fffff0;
  --color-pearl: #fcfcf7;
  --color-batik: #fdf5ea;
  --color-batik-light: #fefbf2;
  --color-offwhite: #faf9f6;
  --color-eggwhite: #fdfdfd;
  --color-batik-black: #100d07;
  --color-batik-gray: #fffff0;
  --color-batik-border: #e0c3a3;
  --color-batik-border-light: #f6cfa8;
  --color-batik-border-hover: #d1b08e;
  --color-batik-white: #fffdfc;
  --color-batik-text: #bd834a;
}

/* Onboarding Carousel Styles */
.onboarding-slider {
  margin-bottom: 30px;
}

.onboarding-slider .slick-dots {
  bottom: -10px;
}

.onboarding-slider .slick-dots li button:before {
  font-size: 10px;
  color: #c8c8c8;
  opacity: 0.5;
}

.onboarding-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #d1b08e;
}

.onboarding-slider div {
  outline: none;
}

.onboarding-slider img {
  transition: transform 0.3s ease-in-out;
}

.onboarding-slider .slick-current img {
  transform: scale(1.05);
}
