@import "tailwindcss";

@theme {
  --breakpoint-3xl: 120rem;
  --color-ivory: #fffff0;
  --color-pearl: #fcfcf7;
  --color-batik: #fdf5ea;
  --color-batik-light: #fefbf2;
  --color-offwhite: #faf9f6;
  --color-eggwhite: #fdfdfd;
  --color-batik-black: #100d07;
  --color-batik-gray: #fffff0;
  --color-batik-border: #e0c3a3;
  --color-batik-border-light: #f6cfa8;
  --color-batik-border-hover: #d1b08e;
  --color-batik-white: #fffdfc;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Onboarding Carousel Styles */
.onboarding-slider {
  margin-bottom: 30px;
}

.onboarding-slider .slick-dots {
  bottom: -50px;
}

.onboarding-slider .slick-dots li button:before {
  font-size: 10px;
  color: #f6cfa8;
  opacity: 0.5;
}

.onboarding-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #d1b08e;
}

.onboarding-slider div {
  outline: none;
}

.onboarding-slider img {
  transition: transform 0.3s ease-in-out;
}

.onboarding-slider .slick-current img {
  transform: scale(1.05);
}
